.container
{

 margin-top: 5rem;
 display: flex;
  justify-content: center;
  align-items: center;
}

a {
 text-decoration: none;
}

#Buy {
  text-align: center;
  position: absolute;
  top:70%;
  left:80%;
  width:100px;
}

.container
{
  margin: auto;
  width: 70%;
  margin-top: 2rem;
}
.btnContainer
{
  padding:30px;
}
btn-success{
  width: 100px !important;
}
.PriceContainer
{
  position: absolute;
  margin-top: 5rem;
  right: 10rem;
}
.labelTag{

    margin-bottom: 10px;
}
label{
  font-size: larger;
  padding:2rem;
}