

a {
 text-decoration: none;
}

#Buy {
  text-align: center;
 
  top:70%;
  left:80%;
  width:100px;
}

.btnContainer
{
  padding:30px;
}
btn-success{
  width: 100px !important;
}
.PriceContainer
{
  
  margin-top: -8rem;
  right: 10rem;
}
.labelTag{

    margin-bottom: 10px;
}
label{
  font-size: larger;
  padding:2rem;
}