img {
  width: 20px;
  margin-bottom: 3px;
  margin-right: 5px;
}
li {
  margin: 10px;
  margin-left: 15px;
}

body{
  /*background-color: #9BA3EB;*/
  /*background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';*/
  background-image: url("../IMG/Eggs-How-Many-1200x900-cropped\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.LogoName
{
  background-image:url(../IMG/Slice\ 1\ \(2\).png);
  background-repeat:no-repeat;
  width: 00px;
  height: 00px;
  position: absolute;
  top:0rem;
  left: 0rem;
}
button {
  background-color: transparent;
  border: none;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  font-size: 16px;
}
.navbar {
  margin-left: 67%;
}
